.rating {float: left;}
.rating label {float:right; width:18px; height: 16px; overflow:hidden;
 white-space:nowrap; cursor:pointer; text-indent: -9999px; }
.rating:not(:checked) > input { position:absolute; top:-9999px; clip:rect(0,0,0,0); }
.rating:not(:checked) > label {background: url('img/star.jpg') no-repeat 0 0}
.rating > input:checked ~ label {
width: 18px;height: 16px;background: url('img/star.jpg') no-repeat 0 -16px;}
.rating:not(:checked) > label:hover,
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > label:hover ~ input:checked ~ label,
.rating:not(:checked) > label:hover ~ label {background: url('img/star.jpg') no-repeat 0 -16px;}